<div class="icons">
  <ul>
  <li>
    <a href="#"></a>
    <img src="../../../assets/admission_page_logo.jpg"/>
    <li></li>
    <a href="#"></a>
    <img src="../../../assets/attendence.png"/>
    <li></li>
    <a href="#"></a>
    <img src="../../../assets/create_users_logo.jpg"/>
    <li></li>
    <a href="#"></a>
    <img src="../../../assets/Manage-Users.png"/>
    <li></li>
    <a href="#"></a>
    <img src="../../../assets/show_finance.png"/>
    <li></li>
    <a href="#"></a>
    <img src="../../../assets/show_settings.png"/>
    <li></li>
    <a href="#"></a>
    <img src="../../../app/assets/exit.jpeg"/>
  </li>
  </ul>
</div>
