<% if  current_user %>

<script type="text/javascript">
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
<div class="icons navbar1-inverse navbar-fixed-top">
  <ul>
  <li>
    <a href="#"  data-toggle="tooltip"  data-placement="middle" title="File"  class="blue-tooltip">
    <img src="../../../assets/icons/New.jpg"/ > </a></li>
    <li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Edit" class="blue-tooltip">
    <img src="../../../assets/icons/Edit.jpg"/> </a> </li>
    <li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Cut" class="blue-tooltip">
    <img src="../../../assets/icons/Cut.jpg"/> </a> </li>
    <li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Copy" class="blue-tooltip">
    <img src="../../../assets/icons/copy.jpg"/> </a> </li>
    <li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Paste" class="blue-tooltip">
    <img src="../../../assets/icons/Past.jpg"/> </a> </li>
<li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Save" class="blue-tooltip">
    <img src="../../../assets/icons/Save.jpg"/> </a> </li>
<li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Search" class="blue-tooltip">
    <img src="../../../assets/icons/Search.jpg"/> </a> </li>

    <li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Cancel" class="blue-tooltip">
    <img src="../../../assets/icons/Cancel.jpg"/> </a> </li>
<li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Import/Export" class="blue-tooltip">
    <img src="../../../assets/icons/Import.jpg"/> </a> </li>

<li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Run" class="blue-tooltip">
    <img src="../../../assets/icons/Run.jpg"/> </a> </li>
    <li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Print" class="blue-tooltip">
    <img src="../../../assets/icons/Print.jpg"/> </a> </li>
<li>
    <a href="#" data-toggle="tooltip" data-placement="middle"  title="Exit" class="blue-tooltip">
    <img src="../../../assets/icons/Edit.jpg"/> </a> </li>
     </ul>
</div>
<% end %>